* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background-color: rgb(254,249,239);
}
body::-webkit-scrollbar {
  display:none;
}
.text {
  font-family: "PingFang HK";
}
.container {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.title1 {
  width: 100%;
  height: 40%;
  background-color: grey;
}
.bp1 {
  display: none;
}
.background {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
  background-image: url(../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
/*~~~~~ header ~~~~~*/
header{
  position: fixed;
  z-index: 2;
}
.master {
  display: flex;
  list-style: none;
  height: 10px;
  font-size: 20px;
}
li {
  margin-right: 10px;
}
li > a {
  text-decoration: none;
  color: black;
  display: inline-block;
}
li > a:hover {
  text-decoration: line-through;
}
/*~~~~~ Wrapper-space ~~~~~*/
.wrapper-space {
  height: 100%;
}

/*~~~~~ Wrapper-works ~~~~~*/
.flex {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  align-items: center;
}
.flex > img {
	width: 50%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.4s;
}
.wrapper-works .flex > img:hover {
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  transition: filter 0.4s;
}

/*~~~~~ Wrapper-news ~~~~~*/
.wrapper-news {
  background-color: rgba(200,200,200,0.3)
}

/*~~~~~ Wrapper-contact ~~~~~*/
.wrapper-contact {
  padding-top: 100px;
  font-size: 20px;
}

.wrapper-contact p {
  margin-bottom: 20px;
}
